<div class="jumbotron" style="text-align: center;">
    <h1>Safety Training, Consulting and Products</h1>
    <div class="enroll">
      <h3 class="roof" style="text-align: center">Get Everything under one roof.</h3>
    <p style="margin-top: 2.5rem;" ><%= link_to "View Products >", "/products", class: "btn-danger btn-lg" %></p>
    </div>
</div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><%= link_to "Safety Training.", "/products", class: "featurette-heading" %> <span class="text-muted">Learn how to stay safe.</span></h2>
        <p class="lead">To book Mobile Equipment training or another type of training. A safety program is a living entity. Every year new hazards are recognised, new solutions are born and new tasks take place.

          Programs need to be implemented and communicated. The communication needs to be analyzed and acted on to evolve the program and make it a team program.</p>
      </div>
      <div class="col-md-5">
        <%= link_to image_tag("https://images.unsplash.com/photo-1574689049868-e94ed5301745?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2FmZXR5JTIwZXF1aXBtZW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"), "/products" %>

        <!-- <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://images.unsplash.com/photo-1574689049868-e94ed5301745?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2FmZXR5JTIwZXF1aXBtZW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><%= link_to "Consulting, Documentation and Planning. ", "/products", class: "featurette-heading" %><span class="text-muted">Steps and methods to follow.</span></h2>
        <p class="lead">We partner with our clients to create and implement safety management systems that are designed to make the client self-sufficient. We monitor changes and update our programs numerous times throughout each year. We are able to audit existing programs and report of deficiencies, suggested improvements and complete alignment.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= link_to image_tag("https://images.unsplash.com/photo-1541888946425-d81bb19240f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"), "/products" %>
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text> -->
          <!-- <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://images.unsplash.com/photo-1541888946425-d81bb19240f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" /> -->
        <!-- </svg> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><%= link_to "Safety products and solutions.", "/products", class: "featurette-heading" %> <span class="text-muted">Buy things and use them.</span></h2>
        <p class="lead">Creating an environment that provides positive recovery for the worker both mentally and physically reduces the claim time and re-occurrence percentage. List of all safety products, materials and solutions</p>
      </div>
      <div class="col-md-5">
        <%= link_to image_tag("https://images.unsplash.com/photo-1552879890-3a06dd3a06c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=822&q=80", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"), "/products" %>
        <!-- <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1552879890-3a06dd3a06c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=822&q=80" /> -->
      </div>
    </div>

    <hr class="featurette-divider">

</div>